body {
    text-align: center;
    background-color: lightgoldenrodyellow;
}

table {
    display: inline;
    border: 3px solid blacks;
}

.cell {
    border: outset;
}

.board td {
    width: 20px;
    height: 20px;
    padding: 7px;
    text-align: center;
    background-color: lightgray;
    cursor: pointer;
}

.emoji {
    cursor: pointer;
    margin-inline: 25%;
}

.life {
    margin: 1%;
}

button {
    padding: 5px;
    margin-left: 1%;
    cursor: pointer;
}

th {
    border: outset;
    background-color: lightgray;
    padding: 10px;
}

.sec {

    font-family: 'MS Sans Serif';
    font-size: 14px;
    border: outset;
    width: 200px;
    height: 22px;
    padding: 1px;
    background-color: lightgray;


}

.counter {
    font-family: 'MS Sans Serif';
    font-size: 14px;
    border: outset;
    width: 200px;
    height: 22px;
    padding: 1px;
    background-color: lightgray;
}

.clicked {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    padding: 7px;
    text-align: center;
    background-color: lightgrey;

}